<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>




<div class="tfjs-example-container">
  <section class='title-area'>
    <h1>TensorFlow.js: Using a pretrained MobileNet</h1>
  </section>

  <section>
    <p class='section-head'>Description</p>
    <p>
      This demo uses the pretrained MobileNet_25_224 model from Keras which you can find
      <a href="https://github.com/fchollet/deep-learning-models/releases/download/v0.6/mobilenet_2_5_224_tf.h5">here</a>.

      It is not trained to recognize human faces. For best performance, upload images of objects
      like piano, coffee mugs, bottles, etc. You can see all the objects types it has been trained to recognize in <a
        href="https://github.com/tensorflow/tfjs-examples/blob/master/mobilenet/imagenet_classes.js">imagenet_classes.js</a>.
    </p>
  </section>

  <section>
    <p class='section-head'>Status</p>
    <div id="status"></div>
  </section>

  <section>
    <p class='section-head'>Model Output</p>

    <div id="file-container" style="display: none">
      Upload an image: <input type="file" id="files" name="files[]" multiple />
    </div>

    <div id="predictions"></div>

    <img style="display: none" id="cat" src="images/cat.jpg" width=224 height=224 />
  </section>
</div>
