<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>


<div id="deep-image-prior-container">

  <button class="w3-button w3-black" onclick="buildModel()">Build model</button>

  <p id="me_span"></p>
</div>

<!-- div class="tfjs-example-container">
  <section class='title-area'>
    <h1>My Object Recognition Tool</h1>
  </section>

  <section>
    <p class='section-head'>Description</p>
    <p>You can test pictures here and the neural network will tell you the most likely things it thinks the picture is.</p>
  </section>

  <section>
    <p class='section-head'>Status</p>
    <div id="status"></div>
  </section>

  <section>
    <p class='section-head'>Model Output</p>

    <div id="file-container" style="display: none">
      Identify contents of image: <input type="file" id="files" name="files[]" multiple />
    </div>

    <div id="predictions"></div>

    <img style="display: none" id="cat" src="images/cat.jpg" width=224 height=224 />
  </section>
</div -->
